build
.vscode
.DS_Store
.python-version
*.swp
*.o
*.a
*.out
*.h5
*.xmf
*.dat
*.pyc
*.sif

external_libs/hdf5*
external_libs/openmpi*
external_libs/local_mpi_hdf5
external_libs/local_mpi_hdf5_intel

base_proj

# result for comparison
test/inversion_2_one_src/fortran_code/ega5/output/*

# vtune results
test/*/tomoatt*
test/solver_performance/time*
test/solver_performance/input_params_*
test/solver_performance/vtune*
test/solver_performance/e0*
test/solver_performance/advisor*

