build*
.vscode
.DS_Store
.python-version
*.swp
*.o
*.a
*.out
*.h5
*.xmf
*.dat
*.pyc
*.sif
__pycache__/

external_libs/hdf5*
external_libs/openmpi*
external_libs/local_mpi_hdf5*

base_proj

include_copy*
src_copy_*
jchen_work
jchen_paper
debug

figures

# result for comparison
test/inversion_2_one_src/fortran_code/ega5/output/*

# vtune results
test/*/tomoatt*
test/solver_performance/time*
test/solver_performance/input_params_*
test/solver_performance/vtune*
test/solver_performance/e0*
test/solver_performance/advisor*
test/solver_performance/r0*
test/solver_performance/bench_fugaku


# examples
examples/*/OUTPUT_FILES*
examples/*/*.dat
examples/*/models
examples/*/params_log.yaml
examples/*/time.txt
examples/*/*.dat
examples/6_checkerboard_inversion_test/input_params/
examples/6_checkerboard_inversion_test/img/*.png
examples/10_data_process_practice/input_data
examples/10_data_process_practice/output_data
examples/0_generate_files_for_TomoATT/src_ref_file_instruction.psd*
examples/1_output_visualization/img

old

examples/utils/functions_for_data.ipynb
examples/eg1*/*.ipynb
examples/eg2*/*.ipynb
examples/eg3*/*.ipynb

examples/realcase1*/*.ipynb
examples/realcase2*/*.ipynb

examples/scripts_of_plotting/*.ipynb
examples/scripts_of_plotting/generate_file
examples/scripts_of_plotting/OUTPUT_FILES
examples/scripts_of_plotting/input_files
examples/scripts_of_plotting/files_for_plotting.tar.gz
examples/*/img

include/version.h